<!-- <h1>New Project</h1>

<form>
  <fieldset>
    <label for="name">Name </label>
    <input type="text"
           name='name'
           [(ngModel)]="project.name"
           placeholder="Project name" />
  </fieldset>

  <input name="Save"
         type="submit"
         (click)="saveProject()" />
</form>

<pre>{{ projects | json}}</pre> -->
<app-new-project-form (saveProject)="saveProject($event)"
                      [projects]="projects"
                      (saveProjectUsingService)="saveProjectUsingService($event)"
                      (saveProjectUsingHttp)="saveProjectUsingHttp($event)">
</app-new-project-form>
